<div class="container-fluid mt-4 mt-md-4">
    <div class="row">

        <div class="col-12 col-md-3 sidebar-nav">

            <nav class="nav flex-column mb-3">
                <h5 class="border-bottom p-3 mb-0 d-flex justify-content-between">
                    Filter
                    <fa-icon (click)="clearFilter()" *ngIf="filter.length" [icon]="timesCircleIcon"
                             class="clear-filter"></fa-icon>
                </h5>
                <a *ngFor="let pool of pools" (click)="toggleFilter(pool.id)" [ngClass]="inFilter(pool.id) ? 'active' : ''"
                   class="nav-link border-bottom" href="#">
                    <img [src]="'assets/' + pool.icon" width="32"> {{pool.name}}
                </a>
            </nav>

        </div>
        <div class="col-12 col-md-9">

            <div class="row">

                <div *ngIf="!resultPools.length" class="col-12 mb-3 mt-md-0 text-center">
                    <app-loading-spinner></app-loading-spinner>
                </div>
                <div class="col-12 col-md-6 mb-3 mt-md-0" *ngFor="let pool of resultPools">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title border-bottom pb-2 d-flex justify-content-between">
                                <span>
                                    <img [src]="'assets/' + pool.icon" width="32"> {{pool.name}}
                                    <span class="text-success">
                                        136%
                                    </span>
                                </span>
                                <span class="badge badge-pill badge-success position-absolute" style="right: 20px;">Healthy</span>
                            </h5>
                            <div class="card-text row">

                                <div class="col-6 text-center border-right">
                                    <h5 class="d-flex justify-content-between"
                                        *ngFor="let token of pool.tokensWithBalance">
                                        {{token.balance}} {{token.symbol}}
                                        <span style="white-space: nowrap;">
                                            <a href="#" class="badge badge-success">
                                                <fa-icon [icon]="plusCircleIcon"></fa-icon>
                                            </a>
                                            <a href="#" class="badge badge-danger ml-1">
                                                <fa-icon [icon]="minusCircleIcon"></fa-icon>
                                            </a>
                                        </span>
                                    </h5>
                                </div>

                                <div class="col-6 text-center">
                                    <h5 class="d-flex justify-content-between">
                                        <span>
                                            45 BAT
                                            <span class="text-success">
                                                1.25%
                                            </span>
                                        </span>
                                        <span style="white-space: nowrap;">
                                            <a href="#" class="badge badge-success">
                                                <fa-icon [icon]="plusCircleIcon"></fa-icon>
                                            </a>
                                            <a href="#" class="badge badge-danger ml-1">
                                                <fa-icon [icon]="minusCircleIcon"></fa-icon>
                                            </a>
                                        </span>
                                    </h5>
                                    <h5 class="d-flex justify-content-between">
                                        <span>
                                            6 ZRX
                                            <span class="text-success">
                                                0.17%
                                            </span>
                                        </span>
                                        <span style="white-space: nowrap;">
                                            <a href="#" class="badge badge-success">
                                                <fa-icon [icon]="plusCircleIcon"></fa-icon>
                                            </a>
                                            <a href="#" class="badge badge-danger ml-1">
                                                <fa-icon [icon]="minusCircleIcon"></fa-icon>
                                            </a>
                                        </span>
                                    </h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
